<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <form method="POST" action="/myForm">
        <textarea name="movies" placeholder="Movies seperated by comma"></textarea>
        <input type="submit" value="SEND">
    </form>

</body>

</html>